.layout {
  background-image: url("../../assets/images/bg.jpg");
  width: 100%;
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.child {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
