.layout {
  background-image: url("../../assets/images/bg.jpg");
  width: 100%;
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.layout-admin {
  min-height: 100vh;
  padding-left: 17rem;
  padding-right: 2rem;
}
.child {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.child-admin {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
