.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  margin-top: -15px;
  width: 16rem;
  background-color: #6dd8cb;
  padding: 1rem;
  font-weight: bold;
  text-align: center;
  border: 2px solid #919191;
  border-radius: 20px;
}
