.button-action {
  margin-bottom: 20px;
}
button {
  margin-right: 15px;
  padding: 0.2rem 1.4rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.square {
  padding: 0.5rem 1.8rem;
  border: 1px solid #9b9b9b;
  margin-right: 20px;
}
.desc {
  line-height: 2.5rem;
}
