*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #646464;
}

.form-control {
  margin-bottom: 8px;
}

.form-control label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  color: #858585;
  font-style: italic;
  font-size: 0.8rem;
}
.form-control input {
  width: 100%;
  border: none;
  border: 1px solid #ccc;
  padding: 5px;
}
.form-control input:focus {
  outline: none;
}
.form-control select {
  border: none;
  padding: 0.2rem 1rem;
  width: 165px;
  border: 1.5px solid #ccc;
  border-radius: 2px;
}
.form-control select:focus {
  outline: none;
}
.form-control textarea {
  min-width: 100%;
  max-width: 100%;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #ccc;
}
.form-control textarea:focus {
  outline: none;
}
.action {
  text-align: center;
}

.action > button {
  margin-top: 10px;
  padding: 0.5rem 4rem;
  border: none;
  cursor: pointer;
  color: rgb(243, 243, 243);
  font-weight: bold;
}
button.primary {
  background-color: #5f5fc9;
}

.link {
  color: #4b7be5;
  border-bottom: 1px solid #4b7be5;
  cursor: pointer;
}
.link:hover {
  border-bottom: 1px solid #7599e7;
  color: #7599e7;
}
